* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

button {
	border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-radius: 10px;
	color: #FFF;
	cursor: pointer;
  background: transparent;
  border: none;
}

.fon1 {background:#DB807D;}
.fon2 {background:#FEC96D;}
.fon3 {background:#4FE395;}
.fon4 {background:#673AB7;}
.fon5 {background:#3F51B5;}
.fon6 {background:#2196F3;}
.fon7 {background:#9c57a8;}
.fon8 {background:#00BCD4;}
.fon9 {background:#009688;}
.fon10 {background:#4CAF50;}

/* win modal */

.win-modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.win-block {
  position: relative;
  z-index: 200;
  width: 60%;
  height: 30%;
  background: url(assets/img/field-bg.jpg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

.win-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border: 2px solid #E2B272;
  width: 180px;
  height: 50px;
  transition: 0.3s;
}

.win-btn:hover {
  box-shadow: 0px 0px 5px 30px rgba(255, 255, 255, 0.2) inset;
}

.win-btn:active {
  box-shadow: 0px 0px 5px 30px rgba(255, 255, 255, 0.3) inset;
}

/* score modal */

.score-modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.score-block {
  z-index: 200;
  width: 300px;
  height: 70%;
  background: url(assets/img/field-bg.jpg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.score-block__title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.score-block__subtitle {
  font-size: 22px;
  font-weight: 300;
  margin: 5px 0 10px;
}

.score-block__list {
  padding-left: 30px;
}

.score-block__list pre{
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

li::marker {
  font-size: 16px;
  font-weight: 300;
}
/* Header */
.header {
  background: url(assets/img/field-bg.jpg);
  width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 6px;
}

.header__btns {
  width: 20%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto 0;
}

.header__sound {
  margin-right: 10px;
  background: url(assets/icons/volume.svg) center no-repeat;
  background-size: 28px 28px;
}

.header__sound.off {
  background: url(assets/icons/volume-off.svg) center no-repeat;
  background-size: 28px 28px;
}

.header__sound,
.header__score {
  border: 2px solid #E2B272;
  width: 60px;
  height: 40px;
  transition: 0.3s;
}

.header__sound:hover,
.header__score:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.2) inset;
}

.header__sound:active,
.header__score:active {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.3) inset;
}

.header__counter span{
  font-weight: 300;
}

/* field  */

.field {
  width: 420px;
  height: 420px;
  background: url(assets/img/field-bg.jpg);
  margin: 35px auto 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 0.5) inset,
              2px 3px 5px 3px rgba(0, 0, 0, 0.5);
}

.field__container {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  margin: auto;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #4A321A;
  width: 96px;
  height: 96px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 50px;
  background: url(assets/img/tile-bg.jpg);
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}

.tile span {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.3) inset;
  padding: 8px;
}

.tile:active>span {
  transition: 0.2s;
  box-shadow: 2px 3px 8px 8px rgba(0, 0, 0, 0.2) inset;
}

.tile:active {
  transition: 0.2s;
  box-shadow: 0px 0px 20px 35px rgba(255, 255, 255, 0.6) inset;
}

/* size field btns */

.size-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.size-container button {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: url(assets/img/field-bg.jpg);
  margin: 0 7px;
  transition: 0.3s;
}

.new-game {
  display: block;
  width: 200px;
  height: 50px;
  background: url(assets/img/field-bg.jpg);
  margin: 20px auto 5px;
  transition: 0.2s;
}

.size-container button:hover,
.new-game:hover {
  box-shadow: 0px 0px 5px 25px rgba(255, 255, 255, 0.2) inset;
}

.size-container button:active,
.new-game:active {
  box-shadow: 0px 0px 5px 25px rgba(255, 255, 255, 0.3) inset;
}


@media (max-height: 700px){
  .field {
    transform: scale(0.9);
    margin: 5px auto;
  }
}

@media (max-width: 768px) {

.header__btns {
  width: 30%;
}

}


@media (max-width: 460px) {

.header__btns {
  width: 40%;
}

.field {
  transform: scale(0.6);
  margin: 0;
}

}

@media (max-width: 400px) {

.field {
  position: relative;
  left: -8%;
}

}


@media (max-width: 360px) {

  .field {
    left: -13%;
  }

}